<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>
</head>
<body>
    <h1 style="text-align: center;">ingresar</h1>
    <form action="perfil.html">
        <label for="">Ingresa tu email</label> <br>
        <input type="email" placeholder="Escribe tu email aqui"> 
        <br>
        <br>
        <label for="">Ingresa tu contraseña</label> <br>
        <input type="password" placeholder="Escribe tu contraseña">
        <br>
        <br>
        <button type="submit">
            Ingresar
        </button>
        <br>
        <br>
        <a href="registro.html">Registrarse</a>
    </form>
</body>
</html>