<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>perfil</title> 
    <link rel="stylesheet" href="../estilos.css">
</head>
<body>
    <img class="imagenPerfil" src="../images/riki.jpg" alt="">
    <p class="TEXTO">Nombre: Jose</p>
    <p class="TEXTO">Email: azromjose@gmail.com</p>
    <a class="TEXTO" href="login.html">cerrar sesión</a>
    
</body>
</html>