<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro</title>
</head>
<body>
    <h1 style="text-align: center;">Registro</h1>
    <form action="login.html">
        <label for="">Ingresa tu nombre</label> <br>
        <input type="text" placeholder="Escribe tu nombre aqui"> 
        <br>
        <br>
        <label for="">Ingresa tu email</label> <br>
        <input type="email" placeholder="Escribe tu email aqui"> 
        <br>
        <br>
        <label for="">Ingresa tu contraseña</label> <br>
        <input type="password" placeholder="Escribe tu contraseña">
        <br>
        <br>
        <label for="">Confirma tu contraseña</label> <br>
        <input type="password" placeholder="Confirma tu contraseña">
        <br>
        <br>
        <label for="">Selecciona tu Pais</label>
        <br>
        <br>
        <select name="" id=""> 
            <option value="">Pais</option>
            <option value="">Peru</option>
            <option value="">Argentina</option>
            <option value="">brasil</option>
            <option value="">chile</option>
        </select>
        <br>
        <br>
        <label for="">Deportes favoritos</label>
            <br>
            <br>
            <label for="">futbol</label>
            <input type="radio" name="" id="">
            <br>
            <label for="">voley</label>
            <input type="checkbox" name="" id="">
            <br>
            <label for="">rugby</label>
            <input type="checkbox" name="" id="">
            <br>
            <br>
        <button type="submit">
            Registrarse
        </button>
        <br>
        <br>
        <a href="registro.html">Ya tienes cuenta? Ingresa</a>
    </form>
</body>
</html>